<div class="about">
    <div class="wrapper">
        <h1 class="about">ABOUT US</h1>
        <h3>How to enjoy a city to the fullest? </h3>
        <p class="text">
            There are a million ways to experience a city.
            You can get on a bike and blend in with the city flow.
            Eat your way from one awesome food place to another.
            You can enjoy the quiet of the city at sunrise.
            Or party all through the night.

            Whatever you choose to do. Do it with locals.
            No mass tourism. No following the umbrella.
            Just pick a local guide who knows the city, adores the city.
            Who wants to show you their city through their eyes.
            In any way you want to.

            Choose someone who loves the same things as you.
            Connect over food, over music, over architecture.
            Connect with the heartbeat of a city.
            Don’t just see the city. Become part of the city's story.
            Together. With locals.
        </p>
    </div>
</div>
