<header>
        <div class="header">
            <div class="header-text">
                <h1>Never too early to begin exploring the world</h1>
                <p>Book the authentic experience you want your family to remember</p>
                <form class="search-bar" action="#" method="GET">
                    <input type="text" id="search" placeholder="In what city is your next adventure?" />
                    <button class="search-btn" type="submit">SEARCH</button>
                </form>
            </div>
        </div>
    </header>