<div class="wrapper">
        <form class="form-signin" action="/tourist/create-profile" method="POST">  

          <input type="text" class="form-control" name="your_country" placeholder="Tell me from which country you are"/>
          <input type="text" class="form-control" name="your_city" placeholder="Tell me from which city you are"/>
          <input type="text" class="form-control" name="favorite_city" placeholder="What is your favorite city?"/>
          <input type="text" class="form-control" name="languages" placeholder="Which languages do you speak?"/>
          <input type="date" class="form-control" name="birthday"/>   

          <button class="btn btn-lg btn-primary btn-block" type="submit">Ready to go!</button>   
        </form>
</div>