<div class="profiler">
<div class="wrapper">
        <form class="form-signin" action="/tourist/create-profile" method="POST">  
          <h2>We would like to know you a bit better</h2>
          <input type="text" class="form-control" name="your_country" placeholder="Tell me from which country you are"/>
          <input type="text" class="form-control" name="your_city" placeholder="Tell me from which city you are"/>
          <input type="text" class="form-control" name="languages" placeholder="Which languages do you speak?"/>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Ready to go!</button>   
        </form>
</div>
</div>