<img src="/{{user.profile_pic}}" alt="">

<form action="/user/upload-profile-pic" method="POST" enctype="multipart/form-data">
    <input type="file" name="profile-picture">
    <button type="submit">Upload profile picture</button>
</form>