@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
    font-family: "Poppins";
    margin: 0;
    overflow-x: hidden;
   
}
body {
    margin-top:4em;
}
li > a {
   color:black;   
}

a:hover {
    text-decoration: none;
    color:black;
}

.photos {
    width: 400px;
    height: 250px;
}




