.sign-btn {
    width: 90px;
    background-color: rgb(223, 223, 15);
    color: white;
    border-radius:50%;
    padding: 15px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    padding: 0 2em;
}
.barlist {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin:0;
  list-style-type: none;
}

.title {
    width: 260px;
}

.nav-title {
    color: rgb(49, 49, 49);
    font-weight: 600;
    text-decoration: none;
    text-decoration-line: none;
    padding-left: 30px;
    font-size: 2rem;
    
}
.nav-title:hover {
    text-decoration: none;
    color:black;
}

#profile {
    width: 36px;
    border-radius: 50%;
}