#profiler-picture {
    width: 120px;
}

.profiler .wrapper {
    display: flex;
    align-items: center;
    background-image: url("/images/tour4.jpg");
    height: 98vh;
  }
  
.profiler  .form-signin {
  
    width: 350px;
    padding: 15px 35px 45px;
    margin: 30px auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
.profiler  .form-signin-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
.profiler  input[type="text"] {
    margin-bottom: 10px;
  
  }
  
.profiler  input[type="password"] {
    margin-bottom: 20px;
  
  }

.profiler .form-control{
    margin-bottom: 20px;
}

.profiler .btn {
    margin-top: 40px;
}

#title-pro {
    margin-bottom: 30px;
}