.signup .wrapper {
    display: flex;
    align-items: center;
    background-image: url("/images/tour1.jpg");
    height: 94vh;
  }
  
.signup  .form-signin {
  
    width: 350px;
    padding: 15px 35px 45px;
    margin: 30px auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
.signup  .form-signin-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
.signup  input[type="text"] {
    margin-bottom: 10px;
  
  }
  
.signup  input[type="password"] {
    margin-bottom: 20px;
  
  }

.signup  .user {
    margin-bottom: 10px;
  }

  #member{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  } 

  #log{
    padding-left: 10px;
  }