@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
    font-family: "Poppins";
}
body {
    margin: 0 5%;
}

.header {
    width: 100%;
    height: 97vh;
    background-image: url("../images/image 7.jpg");
    background-size: cover;
    text-align: center;
    display: table;
}
.header-text {
    display: table-cell;
    vertical-align: middle;
    color: white
}
.sign-btn {
    width: 90px;
    background-color: rgb(223, 223, 15);
    color: white;
    border-radius: 4px;
    margin-top: 6px;
}

.nav-title {
    color: rgb(49, 49, 49);
    font-weight: 600;
    text-decoration: none;
    text-decoration-line: none;
}
.nav-title:hover {
    text-decoration: none;
    color:black;
}
.search-btn {
    width: 90px;
    height: 47px;
    background-color: rgb(223, 223, 15);
    color: white;
    border-radius: 4px;
    margin-left: 5px;
}
#search {
    border-radius: 4px;
    width: 50%;
    padding: 10px;
}
.photos {
    width: 400px;
    height: 250px;
}

.tour {
    box-shadow: 10px 10px 5px 0px rgba(245,240,245,1);
    margin: 10px 10px 40px 10px;
}

#tour-title {
    margin-left: 40px;
    
}

#tour-text {
    font-size: 20px;
    
}

#tour-link {
    color:black;
    text-decoration: none;
}

#tour-img {
    height: 275px;
}
#tour-del {
    text-decoration: none;
}

.duration {
    font-size: 12px;
}

.extra {
    border: 30px solid red
}

/**************** Log IN ****************/

.wrapper {	
    display: flex;
    align-items: center;
	margin-top:  30px;
    background-image: url("/images/tour.jpg");
    height: 800px;
}

.form-signin {
  
  width: 350px;
  padding:  15px 35px 45px;
  margin: 30px auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}
  .form-signin-heading,
	.checkbox {
	  margin-bottom: 70px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		
	}

	input[type="text"] {
	  margin-bottom: 10px;
	  
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  
    }
    
    #new{
        margin-top: 30px;
    }