
<div class="wrapper">
        <h2>Want to become a guide?</h2>
        <form class="form-signin" action="/guide/create-profile" method="POST">  
          <input type="text" class="form-control" name="favorite_city" placeholder="What is your favorite city?"/>
          <input type="text" class="form-control" name="languages" placeholder="Which languages do you speak?"/>
          <input type="text" class="form-control" name="about" placeholder="Tell your guests something about yourself">

          <button class="btn btn-lg btn-primary btn-block" type="submit">Ready to go!</button>   
        </form>
</div>