<h2>Create a new tour!</h2>
<form action="/create" method="POST" id="usrform">
    <input type="text" placeholder="Title of your tour" name="title">
    <input type="number" placeholder="Duration" name="duration">
    <input type="text" placeholder="Name of guide" name="guide_name">
    <input type="text" placeholder="image url" name="image">
    <input type="number" placeholder="price per person" name="price">

    <select type="text" value="{{tours.city}}" name="city">
        <option value='Amsterdam' Selected>Amsterdam</option>
        <option value='Barcelona'>Barcelona</option>
        <option value='Berlin'>Berlin</option>
        <option value='Lisbon'>Lisbon</option>
        <option value='Madrid'>Madrid</option>
        <option value='Mexico City'>Mexico City</option>
        <option value='Miami'>Miami</option>
        <option value='Paris'>Paris</option>
        <option value='São Paulo'>São Paulo</option>
    </select><br><br>
    <textarea rows="20" cols="50" name="description" form="usrform">
Enter a description of your tour here...</textarea>
    <input type="submit">
</form>