<div class="signup">
    <div class="wrapper">
        <form class="form-signin" action="/authorization/signup" method="POST">
            <p id="available"></p>
            <h2 class="form-signin-heading">Sign Up</h2>
            <input class="form-control user"  type="email" required name="email" placeholder="Email">
            <input class="form-control" type="text" required name="username" placeholder="Username">
            <input class="form-control" type="password" required name="password" placeholder="Password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            <p id="member">Already a member? <a id="log" href="/authorization/login">Login</a></p>
        </form>
    </div>
</div>


<script>
    let $form = document.getElementsByTagName("form")[0];
    document.getElementById("username").addEventListener("blur", (event) => {
        let usernameInputValue = event.target.value;
        axios.get(`/authorization/username-availability/${usernameInputValue}`)
            .then((response) => {
                let $p = document.getElementById("available");
                if (response.data.available) $p.innerHTML = "Username available";
                else $p.innerHTML = "Username unavailable";
            })
            .catch((error) => {
                // do some dom manipulation based on error
            })
    })

</script>