<form action="/guide/authorization/signup" method="POST">
    <p id="available"></p>
    <input type="text" required name="firstName" placeholder="First name">
    <input type="text" required name="lastName" placeholder="Last name">
    <input type="date" required name="birthday" placeholder="birthday">
    <input id="username" type="text" required name="username" placeholder = "What should we call you?">
    <input type="email" required name="email" placeholder="Email">
    <input type="password" required name="password" placeholder = "Password">
    <button type="submit">Signup as guide</button>
</form>

<script>
    let $form = document.getElementsByTagName("form")[0];
    document.getElementById("username").addEventListener("blur", (event)=>{
        let usernameInputValue = event.target.value;
        axios.get(`/authGuide/username-availability/${usernameInputValue}`)
            .then((response)=> {
                let $p = document.getElementById("available");
                if(response.data.available) $p.innerHTML = "Username available";
                else $p.innerHTML = "Username unavailable";
            })
            .catch((error)=> {
                // do some dom manipulation based on error
            })
    })

</script>